<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/api/books">
                <span class="glyphicon glyphicon-book"></span>
                Hampton's Hardcover Hamlet
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/api/books">Bookshelf</a></li>
            <li><a href="/api/add">Add a Book</a></li>
        </ul>

    </div>
</nav>
