<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <form action="" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Book Title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="Author">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <main>
        <div class="jumbotron">
            <h1 class="text-center">My Books</h1>
              <table class="table table-hover table-condensed">
                <tr>
                  <th class="text-center">Title</th>
                  <th class="text-center">Author</th>
                </tr>
                <% books.forEach(function(book) { %>
                  <tr>
                    <td><a href='/books/<%= book.id %>'><%= book.title %></a></td>
                    <td><%= book.author %></td>
                  </tr>
                <% }) %>
              </table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
