<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1 class="text-center">My Books</h1>
              <ul>
                <% books.forEach(function(book) { %>
                  <li><a href='/api/books/<%= book.id %>'<h2><%= book.title %> - <%= book.author %></h2></a></li>
                <% }) %>
              </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
