<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <div id="main-banner">
    <a href="./books"><img src="images/hhh_banner.png" /></a>
  </div>
</body>
</html>
